.hero {
    &__content {
        grid-column: col-start 1 / col-end 6;
        grid-row: 2 / span 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;


        @media only screen and (max-width: 81.25em) {
            grid-column: col-start 1 / col-end 7;

            justify-content: start;
            margin-top: 15rem;
        }

        @media screen and (max-width: 75em) {
            margin-top: 22rem;
        }

        @media only screen and (max-width: 68.75em) {
            grid-column: col-start 1 / col-end 5;
        }

        @media only screen and (max-width: 62.5em) {
            grid-column: col-start / col-end 12;
            margin-top: 10rem;
            margin-bottom: 10rem;
            align-items: center;
            justify-content: center;
        }

        @media only screen and (max-width: 37.5em) {
            margin-bottom: 15rem;
        }
    }

    &__image {
        grid-column: col-start 6 / full-end;
        grid-row: 1 / span 2;
        z-index: -1;
        position: relative;
        object-fit: cover;
        overflow: hidden;

        @media only screen and (max-width: 68.75em) {
            grid-column: col-start 5 / full-end;
        }

        @media only screen and (max-width: 62.5em) {
            display: none;
        }

        svg {
            position: absolute;
            z-index: -1;
            right: -3rem;
            top: 0%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__heading-secondary {
        text-transform: uppercase;
    }

    &__paragraph {
        width: 80%;
        text-align: left;

        @media only screen and (max-width: 62.5em) {
            text-align: center;
        }
    }
}

.bio {
    &__image {
        margin-top: 5rem;
        grid-row: 3 / span 1;
        grid-column: full-start / col-end 5;

        @media only screen and (max-width: 62.5em) {
            grid-row: 3 / 4;
            grid-column: col-start 1 / col-end 12;
            width: 70%;
            margin: 0 auto;
        }
    }

    &__content {
        margin-top: 5rem;
        grid-row: 3/ 4;
        grid-column: col-start 7 / col-end 12;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;


        @media only screen and (max-width:75em) {
            align-items: center;
        }

        @media only screen and (max-width: 62.5em) {
            grid-row: 4 / 5;
            grid-column: col-start 1 / col-end 12;
        }
    }
}

.service {
    background: white;
    display: grid;
    grid-column: 1fr;
    grid-row: min-content min-content max-content max-content;
    padding: 3rem 3.5rem;
    border-radius: 3.6rem;
    transition: all 0.2s;
    @include card-shadow;

    &:hover {
        @include card-hover-shadow;
    }

    &__paragraph {
        grid-column: col-start 1 / col-end 12;
        grid-row: 4/ 5;

        @media only screen and (max-width:62.5em) {
            grid-row: 5 / 6;
        }
    }

    &__heading {
        grid-column: col-start 1 / col-end 12;
        grid-row: 5 / 6;

        @media only screen and (max-width:62.5em) {
            grid-row: 6 / 7;
        }
    }

    &__container {
        background: url("/public/img/service_background.svg");
        padding: 0 17rem 25rem 17rem;
        grid-row: 6 / 7;
        grid-column: full-start / full-end;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 9rem;
        row-gap: 11rem;
        justify-items: start;

        @media only screen and (max-width:62.5em) {
            grid-row: 7 / 8;
        }
    }

    &__icon {
        justify-self: center;
    }

    &__heading-secondary {
        color: $color-heading;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 400;
        margin: 3rem 0;
        justify-self: start;
    }

    &__button {
        padding: 1rem 3rem;
        justify-self: end;
        align-self: end;
    }
}

.pricing {
    margin-top: 10rem;
    background-color: white;
    border-radius: 2.6rem;
    padding: 3rem 5rem;
    text-align: center;
    transition: all 0.2s;
    @include card-shadow;


    &--2 {
        box-shadow: 0 2rem 3rem rgba($color-primary, 0.4);
        transform: scale(1.2);
    }

    &:hover {
        @include card-hover-shadow;
    }

    &__container {
        background-color: rgba(#7e76f9, 0.2);
        grid-column: full-start / full-end;
        padding: 4rem 17rem;
        padding-bottom: 20rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: max-content max-content 1fr;
        column-gap: 7.5rem;


    }

    &__paragraph {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        text-align: center;
    }

    &__heading-secondary {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        text-align: center;
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-align: center;
    }

    &__price {
        font-size: 3rem;
        color: $color-primary;
        font-weight: 300;
        text-align: center;
    }

    &__button {
        text-transform: capitalize;
        font-size: 1.4rem;
    }
}

.news {
    &__paragraph {
        margin-top: 10rem;
        grid-row: 8 / 9;
        grid-column: full-start / full-end;
        text-align: center;
    }

    &__heading-secondary {
        grid-row: 9 / 10;
        grid-column: full-start / full-end;
        text-align: center;
    }

    &__form {
        grid-row: 10 / 11;
        grid-column: full-start / full-end;
        margin-bottom: 10rem;
        text-align: center;
        margin-top: 10rem;
    }

    &__input {
        font-size: 1.5rem;
        border: none;
        outline: none;
        padding: 1.5rem 3rem;
        border-radius: 3px;
        background: rgba(rgb(27, 27, 27), 0.1);
        margin-right: 2rem;
        width: 30%;

        &::placeholder {
            color: #999999;
        }
    }
}

.footer {
    grid-column: full-start / full-end;

    background: #6156f9;
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    padding: 6rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__links {
        width: fit-content;
        margin: 6rem auto;

        & ul {
            display: flex;
            gap: 10rem;
        }
    }

    &__item {
        list-style: none;
        overflow-x: hidden;
    }

    &__link {
        font-size: 1.5rem;
        color: white;
        position: relative;


        &::before {
            content: "";
            display: block;
            background-color: white;
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0%;
            left: -100%;
            transition: all 0.2s;
        }

        &:hover::before {
            left: 0;
        }
    }

    &__copy-right {
        font-size: 1.5rem;
        color: white;
        margin-top: 6rem;
        text-align: center;

        a {
            font-size: 2.5rem;
            color: white;
            text-decoration: underline;

            &:hover {
                color: darken(white, 20%);
            }
        }
    }
}