* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: inherit;
    font-family: $font-primary, sans-serif;
    line-height: 1.4;
    font-weight: 400;
}

html {
    font-size: 62.5%; // 1rem === 10px

    @media screen and (max-width: 75em) {
        font-size: 56.25%; // 1rem === 8px
    }

    @media only screen and (max-width: 37.5em) {
        font-size: 43.75%; // 1rem === 6px
    }
}

a,
a:link,
a:visited {
    text-decoration: none;
    outline: none;
    border: none;
}